{% extends 'share/base.html.twig' %}

{% block body %}
{% if error %}
    <div style="color:red;">{{ error }}</div>
{% endif %}
<ul>
    {% for name, url in login_paths %}
    <li><a href="{{ url }}">Login with {{ name|capitalize }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
